aside#admin-nav-bar {
    max-width: 70%;
    #close-admin-nav-bar {
        float: right;
        margin: 1em;
        &::after{
            content:'\2715';
            transition: 0.3s ease 0s;
            transform: rotate(-45deg);
        }
    }
    ul {
        padding-top: 3em;

    }
    li {
        a{
            color: black;
        }
        &:hover{
            background-color: Gainsboro;
            border-radius: 5px;
        }
        margin: 1em;
        padding: 1em;
        border-bottom: 1px solid rgb(204, 204, 204);
        padding-bottom: 0.2em;
    }

}

.admin-info {
    #add-tag, #add-item {
        justify-self: center;
        margin: 2em;
        width: 92%;
    }
    .element {
        padding: 1em;
        min-height: 5em;

        .username {
            font-weight: bolder;
            font-size: larger;
        }

        .user-tags {
            display: flex;

            img {
                margin: 0;
                height: 1em;
                align-self: center;
            }
        }

        .profile-img {
            background-color: Gainsboro;
            border-radius: 15%;
            height: 6em;
        }

        .buttons {
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
    }
    .entity {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        font-size: larger;
    }
    .product {
        img {
            align-self: center;
        }
        .product-title {
            font-size: larger;
            font-weight: bolder;
            color: black;
        }
        .product-title ~ p {
            color: gray;
            font-size: small;
        }
        .product-id {
            color: gray;
        }
        .product-id::before {
            content: "#";
        }
        .product-price::before{
            content: "$";
        }
    }
}