/* Para todos inputs, mas nao de type checkbox */
input:not(input[type=checkbox]),textarea{
    padding: 1em;
    border: none;
    background-color: transparent;
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 0.9em;
    transition: all .3s;
    &:focus{
        border: 1px solid var(--matador-dark-red)
    }
    /* TODO perguntar se podemos usar isso */
    /* ela tira design de autocomplete */
    &:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 30px var(--matador-grey) inset !important;
    }
    &:required{
        border-bottom: 1px solid var(--matador-yellow);
    }
    &::placeholder{
        font-family: monospace;
    }
}

textarea{
    resize: none;
    overflow-y: auto;
    max-height: 16em;
}

button{
    padding: 1em;
    border: 2px solid var(--matador-dark-red);
    font-family: inherit;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        background-color: var(--matador-dark-red);
        color: var(--matador-grey);
    }
}

button:disabled{
    border-color: rgba(89, 0, 4, 0.5);

    &:hover{
        background-color: var(--matador-grey);
    }
}

button.selected{
    background-color: var(--matador-dark-red);

    &:hover{
        background-color: white;
        color: var(--matador-grey);
    }
}

button.wide{
    width: 80%;
    padding: .7em 1em;
    align-self: center;
}

.button{
    padding: 1em;
    border: 2px solid var(--matador-dark-red);
    background-color: var(--matador-grey);
    font-family: inherit;
    transition: all .3s;
    color: black;
    font-size: .85em;
    &:hover{
        background-color: var(--matador-dark-red);
        color: var(--matador-grey-plus);
    }
}

.button.selected{
    background-color: var(--matador-dark-red);
    color: var(--matador-grey-plus);
    &:hover{
        background-color: var(--matador-grey);
        color: black;
    }
}

.button:disabled{
    border-color: rgba(89, 0, 4, 0.5);
}

.buttons{
    margin: 1em 0;
    display: flex;
    button, a {
        flex: 1;
        margin: .5em;
        padding: .5em;
        text-align: center;
    }
}

/* Logic of changing login form */
#login-register{
    & > input{
        display: none;
    }

    & > input#login-tuggle-checked:checked{
        & ~ form#register-form{
            display: none;
        }
        & ~ button#login-tuggle{
            border-bottom: 4px solid var(--matador-dark-red);
        }
    }

    & > input#register-tuggle-checked:checked{
        & ~ form#login-form{
            display: none;
        }
        & ~ button#register-tuggle{
            border-bottom: 4px solid var(--matador-dark-red);
        }
    }
}


#login-register > button{
    background-color: var(--matador-grey);
    padding: 1em;
    border: none;
    border-bottom: 1px solid var(--matador-darker-red);
    &:hover{
        color: var(--matador-yellow);
    }
}

#login-register form{
    display: flex;
    flex-flow: column;
    label{
        padding: 1em 1em 0;
    }
    label, input{
        display: block;
    }
    button, ul{
        margin-top: 1em;
    }
}

/* Wishlist form */
form#wishlist-form{
    margin: 1em;
    p{
        margin-bottom: 1em;
    }
    label{
        display: block;
        margin-bottom: 1.5em;
    }
}
/* Add Item form */
form#add-item-form{
    grid-column: 1 / span 3;
    padding: 1em;
    h2{
        text-align: center;
        font-size: 2.5em;
    }
    h2, input{
        margin-bottom: 1em;
    }
    label{
        font-size: 1.5em;
    }
    input:focus{
        outline: none;
    }
    input[type="text"], input[type="number"] {
        border-bottom: 2px solid var(--matador-dark-red);
    }
    input[type="checkbox"]{
        width: 1.25em;
        height: 1.25em;
        margin-left: .5em;
    }
    select{
        font-size: large;
        color: var(--matador-grey);
        margin: 1em 0;
        width:100%;
        border-radius: 5px;
        height: 2em;
        background-color: rgba(var(--matador-red-rgb), 0.9);
    }
    textarea{
        margin-bottom: 1em;
        min-height: 8em;
        border: 2px solid var(--matador-dark-red);
        border-radius: 5px;
    }
    select#item-tags{
        min-height: 6em;
    }
    textarea:focus{
        outline: none;
    }
    #submit-item-button{
        text-align: center;
        button{
            font-size: 1em;
            height: 4em;
            width: 30em;
        }
    }
}