/* Para todos inputs, mas nao de type checkbox */
input:not(input[type=checkbox]){
    padding: 1em;
    border: none;
    background-color: var(--matador-grey);
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 0.9em;
    transition: all .3s;
    &:focus{
        border: 1px solid var(--matador-dark-red)
    }
    /* TODO perguntar se podemos usar isso */
    /* ela tira design de autocomplete */
    &:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 30px var(--matador-grey) inset !important;
    }
    &:required{
        border-bottom: 1px solid var(--matador-yellow);
    }
}

button{
    padding: 1em;
    border: 2px solid var(--matador-dark-red);
    font-family: inherit;
    transition: all .3s;
    &:hover{
        background-color: var(--matador-dark-red);
        color: var(--matador-grey);
    }
}

button.selected{
    background-color: var(--matador-dark-red);
    &:hover{
        background-color: white;
        color: var(--matador-grey);
    }
}

/* Logic of changing login form */
#login-register{
    & > input{
        display: none;
    }

    & > input#login-tuggle-checked:checked{
        & ~ form#register-form{
            display: none;
        }
        & ~ button#login-tuggle{
            border-bottom: 4px solid var(--matador-dark-red);
        }
    }

    & > input#register-tuggle-checked:checked{
        & ~ form#login-form{
            display: none;
        }
        & ~ button#register-tuggle{
            border-bottom: 4px solid var(--matador-dark-red);
        }
    }
}


#login-register > button{
    font-family: inherit;
    background-color: var(--matador-grey);
    padding: 1em;
    border: none;
    border-bottom: 1px solid var(--matador-darker-red);
    cursor: pointer;
    transition: all .3s;
    &:hover{
        color: var(--matador-yellow);
    }
}

#login-register form{
    display: flex;
    flex-flow: column;
    label{
        padding: 1em 1em 0;
    }
    label, input{
        display: block;
    }
    button, ul{
        margin-top: 1em;
    }
}
