/* Header */
header{
    padding: 1em;
    background-color: #A50104;
    display: flex;
    flex-flow: row;
    height: 10em;
    transition: max-height 0.3s;

    hr {
        display: none;
    }

    .open-sidebar, .open-menu {
        display: none;

        img {
            width: 2em;
            height: 2em;
        }
    }
}

div#logo{
    a{
        display: block;
        p{
            margin-left: 1.5em;
        }
    }
    img{
        height: 6em;
    }
    img, h1{
        display: inline-block;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
        & > a {
            justify-content: start;
        }
    }
}

header > nav#header-menu{
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    ul{
        display: flex;
        img{
            height: 1.3em;
            margin-right: .4em;
        }
        li{
            transition: all .3s;
            padding: 1em 0.7em;
            margin: 0.3em;
            cursor: pointer;
        }
        li:hover{
            background-color: var(--matador-dark-red);
            border-radius: 3px;
        }
    }
    img{
        height: 1.3em;
        margin-right: .4em;
    }
    a{
        padding: 1em 0.3em;
    }
    li{
        transition: all .3s;
        padding: 1em 0.3em;
        margin: 0.3em;
        cursor: pointer;
    }
    li:hover{
        background-color: var(--matador-dark-red);
        border-radius: 3px;
    }
}

.h3 {
    font-size: 2em;
    color: white;
}
.h4 {
    font-size: 1.5em;
    color: white;
}
