
/* Main layout */
body{
    background-color: var(--matador-grey);
    & > main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        min-height: 85vh;
    }
}

/* Login layout */
section#login-register{
    margin: 10em auto;
    grid-column-end: 2 span;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    #login-form{
        grid-column-end: 2 span;
    }
    #register-form{
        grid-column-start: 1;
        grid-column-end: 2 span;
    }
}


/* Items layout*/
section#items, section#messages_block, section#chats_block, section#payment{
    padding: 1em;
    h2{
        font-size:x-large;
        padding: 1em 1em 0;
    }
}


/* Footer */
footer{
    padding: 1em;
    background-color: var(--matador-red);

    .footer-list{
        max-width: 60em;
        margin: 0 auto;
        display : flex;
        justify-content: space-between;
        h3{
            margin-bottom: .25em;
            color: var(--matador-grey);
            font-size: xx-large;
        }
        li:hover a{
            color: var(--matador-yellow);
        }
    }
    p{
        margin: .5em 0;
        text-align: center;
        color: var(--matador-grey);
    }
}
