#message_template, #message_template_partner{
    display: none;
}

section.message_middle {
    display: grid;
    place-items: center;
}

section#messages_block, section#chats_block{
    a {
        color: black;
    }
}

figure.profile_image{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    img{
        height: 2.4em;
        border-radius: 50%;
        border: 1px solid var(--matador-darker-red);
        background-color: var(--matador-grey);
    }
    figcaption{
        font-size: 1.5em;
    }
}

article.chat{
    transition: all .3s;
    position: relative;
    padding: 1em 2em;
    background-color: white;
    border-radius: 1.5em;
    margin-top: 1em;


    p.chat-time-passed{
        position: absolute;
        right: 1em;
        bottom: 1em;
        opacity: 0.5;
    }

    figure.profile_image img{
        height: 4em;
    }

    div.is_read{
        position: absolute;
        right: 1em;
        top: 1em;
        background-color: var(--matador-red);
        height: 1em;
        width: 1em;
        border-radius: 50%;
    }
}

section#messages_block{
    .profile_image{
        margin: 0 .8em 0 0;
    }
    & > a {
        padding-left: 1.5em;
    }
    form{
        margin-left: .5em;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 1em;
        img{
            height: 2em;
            margin-left: 1em;
        }
        #attach_file:hover, #offer_exchange:hover{
            cursor: pointer;
            filter: drop-shadow(0 0 3px rgba(215, 0, 0, 0.5));
            transform: scale(105%);
        }
        textarea{
            border: 0;
            background: white;
            font-size: 1.2em;
            overflow-y: auto;
            max-height: 5em;
        }
        textarea:focus{
            border: 0;
            outline: 0;
        }
        button{
            display: flex;
            border: 0;
            height: 2em;
            background-color: white;
            align-items: center;
        }
    }
    #attached_file_name{
        display: inline;
        margin: 1em 0 0 1em;
        color: var(--matador-darker-red);
    }
}

#messages {
    margin: 0 0 2em 1em;
    min-height: 35em;
    max-height: 40em;
    position: relative;
    background-color: white;
    border-radius: 1.2em;
    overflow-y: auto;
    padding: 1em;
}

article.message{
    margin-top: .5em;
    min-height: 3em;
    display: flex;
    align-items: center;
    border-radius: 1.3em;
    padding: 1em;
    color: var(--matador-darker-red);
    width: fit-content;
    max-width: 35em;
    overflow: hidden;
    word-break: break-word;

    &.my_message{
        background-color: var(--matador-grey);
        margin-left: auto;
        p.message_time{
            float: right;
        }
    }

    &.partner_message{
        background-color: var(--matador-pink);
    }

    p.message_time{
        opacity: 50%;
    } 

    p.message_text{
        overflow-wrap: break-word;
        max-width: 100%;
    }
}

section#messages_block .item_exchange_message{
    display: grid;
    place-items: center;
    & a{
        color: var(--matador-red);
    }
    img{
        max-height: 10em;
        display: inline-block;
    }
}

section#messages_block .attached_file{
    display: grid;
    place-items: center;
    & a{
        color: var(--matador-red);
    }
    img{
        padding-top: 1em;
        max-width: 20em;
        display: inline-block;
    }
}
