@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

:root {
    --matador-yellow: #FCBA04; 
    --matador-red: #A50104; 
    --matador-dark-red: #590004; 
    --matador-darker-red: #250001; 
    --matador-grey: #F3F3F3; 
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Ruda', serif;
    color: #333;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--matador-grey);
}

/* Header */

header{
    padding: 1em;
    background-color: #A50104;
    display: flex;
    flex-flow: row;
}

header > div#logo{

    a{
        display: block;
        p{
            margin-left: 1.5em;
        }
    }
    img{
        height: 6em;
    }
    img, h1{
        display: inline-block;
        vertical-align: middle;
    }
}

header > nav#header-menu{
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    ul{
        display: flex;
    }
    img{
        height: 1.3em;
        margin-right: .4em;
    }
    li{
        transition: all .3s;
        padding: 1em 0.7em;
        margin: 0.3em;
        cursor: pointer;
    }
    li:hover{
        background-color: var(--matador-dark-red);
        border-radius: 3px;
    }
}

#back-button{
    padding-top: .5em;
    width: 100%;
    height: 2em;
    text-align: center;
    background-color: var(--matador-dark-red);
    :hover{
        color: var(--matador-yellow);
    }
}
/* Footer */

footer{
    padding: 1em;
    background-color: var(--matador-red);
    width: 100%;
    .footer-list{
        h3{
            color: var(--matador-grey);
            font-size: xx-large;
        }
        li{
            a{
                text-decoration: none;
            }
            :hover{
                color: var(--matador-yellow)
            }
        }
    }
    p{
        color: var(--matador-grey);
    }
}