@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

:root {
    --matador-yellow: #FCBA04; 
    --matador-red: #A50104;
    --matador-dark-red: #590004; 
    --matador-darker-red: #250001; 
    --matador-grey: #F3F3F3; 
    --matador-grey-plus: #e1e1e1;
    --matador-light-green: #B1DCA1;
    --matador-pink: #FFE1E1;
    --matador-orange: #FFAE00;
    --matador-red-rgb: 165, 1, 4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* qq scroll bar */
*::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar{
    width: 7px;
    height: 20%;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a8a8a8;
}

body *::selection {
    color: white;
    background: var(--matador-dark-red);
}

body *::-moz-selection{ /* Code for Firefox */
    color: white;
    background: var(--matador-dark-red);
}

body > main{
    max-width: 70em;
    margin: 0 auto;
}

html {
    font-family: 'Ruda', serif;
    color: #333;
}

body{
    min-height: 100vh;
}

ul li{
    list-style-type: none;
}

ul#errors{
    color: var(--matador-dark-red);
}

ul#success{
    color: var(--matador-yellow);
}

a{
    text-decoration: none;
    color: var(--matador-grey);
}

.link{
    color: var(--matador-orange);
    text-decoration: underline;
}

#related{
    padding: 2em 1em 1em;
}

#back-button{
    padding-top: .5em;
    width: 100%;
    height: 2em;
    text-align: center;
    background-color: var(--matador-dark-red);
    :hover{
        color: var(--matador-yellow);
    }
}

.fly:hover{
    transform: scale(1.01); /* Slightly increase the size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    h3{
        color: var(--matador-yellow);
    }
}

